body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContainer{
    background-color: #20232b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.chatName{
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}
.title{
    color: #5d5b8d;
    font-size: 20px;
}
.formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.formWrapper form input{
    padding: 12px;
    border: none;
    border-bottom: 1px solid #a7bcff;
    width: 250px;
}
.formWrapper form label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
    cursor: pointer;
  }
  .formWrapper form label img{
    width: 32px;
  }
.formWrapper form button{
    margin-block-start: 1rem;
    width: fit-content;
    margin-inline: auto;
    background-color: #7b96ec;
    color: white;
    padding: 7px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.formWrapper form button:hover{
    background-color: transparent;
    color: #7b96ec;
    border: 1px solid #7b96ec;
}
.formWrapper p{
    color: #5d5b8d;
    font-size: 12px;
    margin-block-start: 10px;
}
/* Homepage */
.homePage{
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.homePage .container{
   
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #16171b;
    overflow: hidden;
}
.homePage .container .sidebar{
    flex: 0.8;
}
.homePage .container .chat{
    flex: 2.2;
}
/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    background-color: #0a090996;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
}
.navbar .chatName{
    color: #ddddf7;
}
.navbar .user{
    display: flex;
    gap: 5px;
    align-items: center;
}
.navbar .user span{
    font-size: larger;
}
.navbar .user img{
    background-color: #ddddf7;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

/* sidebar */
.sidebar{
    position: relative;
}
.sidebar button{
    position: absolute;
    bottom: 0;
    background-color: #895bc2;
    color: whitesmoke;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 14px;
    margin-inline-start: 2rem;
    margin-block-end: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}
/* Search */
.search .searchForm{
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: #20232b;
    width: 80%;
    margin-inline: auto;
    border-radius: 8px;
}
.search .searchForm input{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}
.search .userChat{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 12px;
    margin-top: 8px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 80%;
    margin-inline: auto;
}
.search .userChat:hover{
    background-color: #1a1e23;
}
.search .userChatInfo{
    width: 100%;
}
.search .userChatInfo .displayName{
    display: flex;
    justify-content: space-between;
}
.search .userChatInfo .displayName small{
    color: gray;
    font-size: 12px;
}
.search .userChatInfo .lastMsg{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}
.search .selected{
    background-color: #1a1e23;
}
.search .userChat .img{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.search .userChat .imgWrapper{
    position: relative;
}
.search .userChat .imgWrapper::after{
    content: '';
    position: absolute;
    display: block;
    background: green;
    width: 8px;
    height: 8px;
    /* top: 0; */
    bottom: 4px;
    right: 0px;
    border-radius: 50%;
    border: 2px solid #16171b;
}
.search .userChat span{
    font-size: 18px;
    font-weight: 500;
}
.search .userChat p{
    font-size: 14px;
    color: rgb(185, 185, 185);
    margin: 0;
}
/* chat */
.chat{
    border-left: 2px solid #20232b;
    border-right: 2px solid #20232b;
}
.chatInfo{
    height: 50px;
    background-color: #16171b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    padding: 10px;
}
.chatInfo .friendInfo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.chatInfo .friendInfo .friendText{
    color: #aaaaaa;
}
.chatInfo .friendProfile{
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.chatInfo .friendDP{
   font-size: 28px;
}
.chatInfo .chatIcons{
    display: flex;
    gap: 14px;
    cursor: pointer;
    font-size: large;
}
.chat .suggestionText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}
.chat .suggestionText p{
    background-color: #20232b;
    padding: 4px 20px;
    border-radius: 30px;
}
.chat .messages{
    padding: 10px;
    background-color: #20232b;
    height: calc(100% - 150px);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.chat .messages::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.chat .input{
    background-color: #20232b;
    height: 24px;
    width: 80%;
    border-radius: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat .input input{
    width: 100%;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 14px;
    background-color: transparent;
}
.chat .fileImg{
    width: 24px;
    aspect-ratio: 1;
    cursor: pointer;
}
.chat .input .send{
    display: flex;
    gap: 4px;
    position: relative;
}
.chat .send .picker{
    position: absolute;
    right: 50%;
    bottom: 120%;
}
.chat .send .emojiBtn{
    color: #ffde34;
    font-size: 24px;
    margin-left: 8px;
}
form button{
    background-color: #895bc2;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
form .sendBtn{
    font-size: 20px;
    color: white;
}
form.sendMsg{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
/* message */
.chat .messages .message{
    display: flex;
    gap: 12px;
    margin-block-end: 20px;
}
.chat .messages .message .messageInfo img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;

}
.chat .messages .message .messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chat .messages .message .messageContent .messageBox{
    margin: 0;
    background-color: #16171b;
    color: whitesmoke;
    padding: 6px 14px;
    border-radius: 0px 14px 14px 14px;
    max-width: max-content;
    display: flex;
    gap: 10px;
}
.chat .messages .message .messageContent .messageBox p{
    margin: 0;
}
.chat .messages .message .messageContent .messageBox small{
    color: gray;
    margin-top: 8px;
    font-size: 12px;
}
.chat .messages .message .messageContent img{
    width: 50%;

}
/* owner message */
.chat .messages .message.owner{
    flex-direction: row-reverse;
}
.chat .messages .message.owner .messageContent{
    align-items: flex-end;
}
.chat .messages .message.owner .messageContent .messageBox{
    background-color: #895bc2;
    color: white;
    border-radius: 14px 0px 14px 14px;
}
.chat .messages .message.owner .messageContent .messageBox p{
    margin: 0;
}
.chat .messages .message.owner .messageContent .messageBox small{
    color: rgb(223, 223, 223);
    text-align: right;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}
.chat .messages .message .messageContent .messageBox .tick{
    font-size: 18px;
}
.chat .messages .message.owner .messageContent img{
    width: 50%;
}
/* media queries */
@media (max-width: 560px) {
    .chat{
        display: none;
    }.homePage .container{
        display: block;
    }
    .container .sidebar{
        height: 100%;
    }
    .sidebar .navbar .user{
        margin-inline-end: .2rem;
    }
    .sidebar .search .searchForm{
        margin-inline-start: 1rem;
    }.sidebar .search .userChat{
        margin-inline-start: 1rem;
    }
    
}
@media (min-width: 560px) and (max-width: 1000px) {
    .navbar .user{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .navbar .user span{
        /* font-size: 2vw; */
        font-size: max(14px, 2vw);
    }
    .navbar .user img{
        background-color: #ddddf7;
        width: 28px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
  }
  